@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    width:100%;
    font-family:'poppins',sans-serif;
}
.bold{
    font-size:20px;
}
li{
    padding:5px;
}
.nav-link{
    font-size:15px;
    font-weight:bold;
    border:2px solid transparent;

   
}
.nav-link:hover{
    border-bottom:2px solid black;
     transition: .1s;
}
section{
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
span{
    color:blue;
    font-weight:bold;

}
p{
    font-size:18px;
}
#about img{
    width:25rem;
    height:25rem;
    border-radius:50px;

}
#navbar{
    position:sticky;
    top:0;
    background-color: white;
    z-index:10;
}
.card img{
    height:230px;
   
}
.inner{
    overflow:hidden;
}
.card img:hover{
    transform:scale(1.5);
    transition: 1s;
}
form{
    padding:40px;
    box-shadow:2px 2px 5px rgba(0,0,0,.2),-1px -1px 5px rgba(0,0,0,.05);
    border-radius:5px;

}
.new:hover{
    color:red;
}
.table{
    font-size:18px;
}

