.container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  margin-bottom: 20px;
}

#locationInput {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
}

#resultContainer {
  margin-top: 20px;
}
